[submodule "mps"]
	path = mps
    url = git://storm-lang.org/mps.git
[submodule "SoundLib/vorbis"]
	path = SoundLib/vorbis
    url = git://storm-lang.org/sound/vorbis.git
[submodule "SoundLib/ogg"]
	path = SoundLib/ogg
    url = git://storm-lang.org/sound/ogg.git
[submodule "SoundLib/flac"]
	path = SoundLib/flac
    url = git://storm-lang.org/sound/flac.git
[submodule "SoundLib/mpg123"]
	path = SoundLib/mpg123
    url = git://storm-lang.org/sound/mpg123.git
[submodule "Linux/backtrace"]
	path = Linux/backtrace
    url = git://storm-lang.org/linux/backtrace.git
[submodule "Linux/cairo"]
	path = Linux/cairo
    url = git://storm-lang.org/linux/cairo.git
[submodule "Linux/skia"]
	path = Linux/skia
    url = git://storm-lang.org/linux/skia.git

